/* Global Styles */
body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #2D2D2D;
	color: #E0E0E0;
  }
  
  .popup-container {
	/* position: absolute;  */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #393939;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
	width: 200px;
	top: 50px; 
	left: 50px; 

	color: white; 
  }
  
  .popup-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #00C6FF;
  }
  
  .title {
	font-size: 24px;
	font-weight: bold;
  }
  
  .close-btn {
	background-color: transparent;
	border: none;
	color: #E0E0E0;
	font-size: 18px;
	cursor: pointer;
	transition: transform 0.2s;
  }
  
  .close-btn:hover {
	transform: rotate(90deg);
  }

  .minimize-btn {
	background-color: transparent;
	border: none;
	color: #E0E0E0;
	font-size: 18px;
	cursor: pointer;
	transition: transform 0.2s;
  }



  .drawing-options > div {
	margin-bottom: 10px; 
  }
  
  .drawing-options {
	display: flex;
	flex-direction: column;
	align-items: center;
  }

  .highlight-slider-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
  }

  /* .draw-btn.active {
	background-color: green;
  }
   */

  .draw-btn, .erase-btn, .highlight-btn, .text-btn, .preset-btn {
	background-color: #00C6FF;
	border: none;
	color: #fff;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.2s, box-shadow 0.3s;
  }
  
  .draw-btn:hover, .erase-btn:hover, .highlight-btn:hover, .text-btn:hover, .preset-btn:hover {
	background-color: #009CFF;
	box-shadow: 0 0 10px rgba(0, 198, 255, 0.8);
  }
  
  input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	height: 8px;
	border-radius: 5px;
	background: #555;
	outline: none;
	transition: background 0.3s;
  }
  
  input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #00C6FF;
	cursor: pointer;
  }
  
  input[type="color"] {
	width: 35px;
	height: 25px;
	cursor: pointer;
	margin: none; 
	padding: none; 
  }
  
  input[type="color"]::-webkit-color-swatch {
	border: none;
	border-radius: 10%; 
	margin: none; 
	padding: none; 
  }
  
  .thickness-slider-container, .eraser-slider-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
  }
  
  .slider-label {
	font-size: 14px;
	color: #e8e8e8;
  }
  
  .clear-btn {
	
	background-color: #FF5555;
  }
  
  .clear-btn:hover {
	background-color: #FF3232;
  }
  
  .colorSelector{
	display: flex;
	justify-content: space-between;
	align-items: center;
  }


  /* image styling, this styles draw, erase and highlight*/

  .setttingImg{
	width: 20px; 
	height: 20px; 
	/* margin: 10px;  */
  }

 

  #drawingOptions{
	display: flex; 
	flex-direction: row; 
  }

  .optionContainer{
	margin: 10px; 
  }

#actionButtons > button{
	background-color: #00C6FF;
	border: none;
	color: #fff;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.2s, box-shadow 0.3s;
}

  
#actionButtons > button:hover {
background-color: #009CFF;
box-shadow: 0 0 10px rgba(0, 198, 255, 0.8);
}

.actionImg{
	width: 20px; 
	height: 20px; 
}


/* Everything for saving presets of drawing, erasers, highlighters etc.  */

#savedText{
	border-bottom: 1px solid black; 
	width: 100%; 
}